.resEdit {
    padding: 15px;
}

.resLine {
    width: 95%;
    padding: 3px;
    margin: 5px;
    border: 1px solid #d0d0d0;
}

body {
    overflow: hidden;
}

.ganttButtonBar h1 {
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    margin-left: 10px;
}

#paneRight {
    background-color: white;
}

.react-grid-Grid {
    /*see also https://github.com/adazzle/react-data-grid/issues/736*/
    min-height: calc(100vh - 56px) !important;
}

svg.ganttTimelineChartComponent {
    width: 100%;
    min-height: calc(100vh) !important;
}

.timelineChart-rowText {
    font-size: 14px;
    fill: #c0c0c0;
}

.timelineChart-rowBar {
    rx: 3px;
}

