.noprint {
  display:none !important;
}

BODY, TBODY {
  font-family: arial;
  font-size: 12px;
  margin: 0;
  color: #000;
  overflow: visible!important;
}

.teamworkIcon{
  display:none;
}

.mainColumn{
  width:98% !important;
}

.ganttFixHead{
  display: none !important;
}
